---
import Head from "../katachi/head.astro"
import Body from "../katachi/body.astro"

import type { AstroComponentFactory } from "astro/runtime/server/index.js"

type ftttype = {
  Content: AstroComponentFactory,
  frontmatter: {
    title: string,
    date: string,
    id: string
  }
}

export function getStaticPaths() {
  const tsu: ftttype[] = Object.values(import.meta.glob('../kiroku/*.mdx', { eager: true }))
  return tsu.map(items => {
    return {
      params: {kiroku: items.frontmatter.id},
      props: {
        title: items.frontmatter.title,
        date: items.frontmatter.date,
        content: items.Content
      }
    }
  })
}

const mdx = Astro.props
---

<html>
  <Head>
    <title>{mdx.title}</title>
  </Head>
  <Body>
    <div class="py-4 px-6">
      <div class="pb-2">
        <h1 class="text-[1.7rem] font-medium">{mdx.title}</h1>
        <h2 class="text-[1.35rem] text-neutral-500">{mdx.date}</h2>
      </div>
      <div class="text-[1.35rem] pb-2">
        <mdx.content/>
      </div>
      <h3>
        <a href="/" class="text-[1.35rem] font-medium">戻る</a>
      </h3>
    </div>
  </Body>
</html>
