---
import Head from "../katachi/head.astro"
import Body from "../katachi/body.astro"
import { futatsu, narabi } from "../katachi/kiroku"
---

<html>
  <Head>
    <title>記録帳</title>
  </Head>
  <Body>
    <div class="py-4 px-6">
      <div class="font-medium pb-2">
        <h1 class="text-[1.7rem] text-[#4671bf]">記録帳</h1>
        <h2 class="text-[1.35rem] text-neutral-600">色んなことを書きたい</h2>
      </div>
      <div>
        <div>
          {narabi.map(n => {
            const item = futatsu[n];
            if (typeof item === "object" && item !== null && "frontmatter" in item) {
              return (
                <div class="pb-2">
                  <a href={item.frontmatter.id} class="text-[1.35rem] font-medium">{item.frontmatter.title}</a>
                  <p class="text-[1.35rem] text-neutral-600">{item.frontmatter.date}</p>
                </div>
              );
            }
            return null;
          })}
        </div>
      </div>
    </div>
  </Body>
</html>
