---
import Head from "../katachi/head.astro"
import Body from "../katachi/body.astro"
---

<html>
  <Head>
    <title>記録</title>
  </Head>
  <Body>
    <div class="p-4 text-2xl">
      <h1>記録 Kiroku</h1>
    </div>
  </Body>
</html>
